/* Catppuccin Mocha Color Palette */
* {
  font-family: Maple Mono;
  background: transparent;
  color: #cdd6f4; /* Text */
}

#window {
  color: #cdd6f4; /* Text */
  border-color: #cba6f7; /* Mauve */
  border-style: solid;
  border-width: 2px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #1e1e2e 100%); /* Base */
  border-radius: 14px;

  height: 60%;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #45475a; /* Surface1 */
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #45475a; /* Surface1 */
  color: #cdd6f4; /* Text */
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #313244; /* Surface0 */
  color: #cba6f7; /* Mauve */
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #1e1e2e; /* Base */
  color: #cdd6f4; /* Text */
  border-color: #45475a; /* Surface1 */

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #313244; /* Surface0 */
  background-color: #313244; /* Surface0 */
  border-color: #cba6f7; /* Mauve */
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
