# vim: ft=fish

set -g fish_greeting

if test "$HOME" = "/global/homes/d/dkishore"
    set -gx TERM xterm-256color
end

status is-interactive; or return

fish_vi_key_bindings

set -g fish_cursor_default block
set -g fish_cursor_insert line
set -g fish_cursor_replace_one underscore
set -g fish_cursor_visual block

if set -q AGENT_SHELL
    return
end

if set -q CLAUDECODE
    if test "$CLAUDECODE" = "1"
        return
    end
end

if set -q CURSOR_AGENT
    return
end

if set -q GEMINI_CLI
    return
end

if not functions -q fisher
    if command -q curl
        curl -fsSL https://git.io/fisher | source
        and fisher update
    end
end
